/*
/ Transitions
*/

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/*
/ Breakpoints
*/

@mixin breakpoint($point, $value: 0) {
  @if $point == mobile {
    @media (min-width: 320px) {
      @content;
    }
  } @else if $point == mobile-horizontal {
    @media (min-width: 480px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == tablet-horizontal {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $point == desktop {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $point == desktop-wide {
    @media (min-width: 1500px) {
      @content;
    }
  } @else {
    @media ($point: $value) {
      @content;
    }
  }
}

/*
/ Transforms
*/

// Browser Prefixes
@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

// Rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// Scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// Translate
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}

// Skew
@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

// Transform Origin
@mixin transform-origin ($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  transform-origin: $origin;
}
