/*
/ Colors
*/
$white: #fff;
$light-grey: #eee;
$medium-grey: #85858e;
$dark-grey: #323237;

/*
/ z-index
*/

$zindex-top-nav: 10;
$zindex-sidebar-nav: 9;

/*
/ Fonts
*/

$font-base: 'Roboto', sans-serif;
