/*
/ Colors
*/
$white: #fff;

$purple: #6d5eac;

$very-light-grey: #f0f0f0;
$light-grey: #eee;
$grey: #626262;
$dark-grey: #323237;

$light-blue: #37b0e9;
$blue: darken($light-blue, 20%);
$dark-blue: darken($light-blue, 30%);

$color-complete: $light-blue;
$color-success: #1dbb99;
$color-danger: #f35958;
$color-warning: #f7cf5f;
$color-google: #c93921;
$color-facebook: #4267b2;
$color-twitter: #2AAAE0;

/*
/ z-index
*/

$zindex-top-nav: 10;
$zindex-sidebar-nav: 9;

/*
/ Fonts
*/

$font-base: 'Roboto', sans-serif;
