body {
  font-family: 'Lato', sans-serif;
}

.container.content {
  padding-top: 100px;
}

.nav-link.active {
  background: #eee;
}

.badge {
  font-weight: normal;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}